# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: Ephys Link
site_url: https://ephys-link.virtualbrainlab.org
repo_url: https://github.com/VirtualBrainLab/ephys-link
repo_name: VirtualBrainLab/ephys-link
copyright: Copyright &copy; 2024 Virtual Brain Lab
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/VirtualBrainLab/ephys-link
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/ephys-link
    - icon: fontawesome/solid/globe
      link: https://virtualbrainlab.org
theme:
  name: material
  logo: assets/icon.png
  favicon: assets/favicon.ico
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  features:
    - content.code.copy
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.footer
    - toc.follow
extra_css:
  - stylesheets/extra.css
  - stylesheets/mkdocstrings.css
markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
plugins:
  - search
  - gen-files:
      scripts:
        - scripts/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - mkdocstrings:
      handlers:
        python:
          paths: [ src ]
          options:
            docstring_style: google
            show_symbol_type_heading: true
            show_symbol_type_toc: true
          inventories:
            - https://docs.python.org/3/objects.inv
            - https://aquarium.virtualbrainlab.org/objects.inv
nav:
  - Home:
      - About: index.md
      - Getting Started:
          - Installation: home/installation.md
          - Starting Ephys Link: usage/starting_ephys_link.md
          - home/how_it_works.md
          - home/supported_manipulators.md
      - Help:
          - Contact: home/contact.md
          - home/citing.md
  - Usage:
      - usage/starting_ephys_link.md
      - usage/using_ephys_link.md
  - Development:
      - development/index.md
      - development/socketio_api.md
      - development/adding_a_manipulator.md
      - development/jackhammer_mode.md
      - development/code_organization.md
      - Source Code Reference: reference/