[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "ephys-link"
version = "0.9.6"
authors = [{ name = "Kenneth Yang", email = "kjy5@uw.edu" }]
description = "A Python WebSocket server that allows any WebSocket compliant application to communicate with manipulators used in electrophysiology experiments."
readme = "README.md"
requires-python = ">=3.8"
keywords = ["websocket", "manipulator", "electrophysiology", "ephys", "sensapex", "neuroscience", "vbl", "brain"]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
    "Intended Audience :: End Users/Desktop",
    "Intended Audience :: Healthcare Industry",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Internet :: WWW/HTTP :: WSGI :: Server",
    "Topic :: Scientific/Engineering :: Medical Science Apps.",
]
dependencies = [
    "aiohttp ~= 3.8",
    "pyserial ~= 3.5",
    "python-socketio ~= 5.7",
    "pythonnet ~= 3.0",
    "sensapex ~= 1.22",
]

[project.urls]
"GitHub" = "https://github.com/VirtualBrainLab/ephys-link"
Documentation = "https://virtualbrainlab.org/ephys_link/installation_and_use.html"
"Issue Tracker" = "https://github.com/VirtualBrainLab/ephys-link/issues"