[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "ephys-link"
version = "0.0.3"
authors = [{ name = "Kenneth Yang", email = "kjy5@uw.edu" }]
description = "A Python WebSocket server that allows any WebSocket compliant application to communicate with manipulators used in electrophysiology experiments."
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
]
dependencies = [
    "aiohttp",
    "pyserial",
    "python-socketio",
    "sensapex",
]

[project.urls]
"GitHub" = "https://github.com/VirtualBrainLab/ephys-link"